/*front-end-left*/
.front-end-left{width:914px;float:left;margin-right:16px;background:#fff;}
.content .categories{line-height:50px;}
.categories ul{font-size:0;border-bottom:3px solid #c2d5e3;padding:0 10px;}
.categories ul li{display:inline-block;}
.categories ul li a{padding:6px 16px;}
.categories ul li a:hover,.categories ul li.active a{background:#2661a3;color:#fff;text-decoration:none;
    box-shadow:2px 2px 2px rgba(66,66,66,0.6);
}
/*front-end-list*/
.front-end-list{padding:0 10px 0 10px;}
.front-end-list dl{border-bottom:1px dashed #c2d5e3;padding:16px 0;}
.front-end-list dl:nth-last-child(1){border:none;}
.front-end-list dt{width:70px;height:81px;float:left;margin-right:16px;background:#e7eaec;padding:10px 0;}
.front-end-list dt p{text-align:center;}
.front-end-list dt .categories-icon{line-height:39px;text-align:center;font-size:31px;}
.front-end-list dt .categories-icon i{color:#cb3434;}
.front-end-list dt .view-count i{line-height:26px;font-size:12px;}
.front-end-list dt .categories-name span{font-size:12px;}


.front-end-list dd{width:808px;height:81px;float:right;}
.front-end-list dd h1{margin-bottom:8px;}
.front-end-list dd h1 a{font-size:16px;}
.front-end-list dd h1 a:hover{text-decoration:none;}
/*.front-end-list dd .article-info*/
.front-end-list dd .article-info{position:relative;}
.front-end-list dd .article-info .left{width:111px;height:66px;position:absolute;left:0;top:0;}
.front-end-list dd .article-info .left img{width:111px;height:66px;}
.front-end-list dd .article-info .right{width:688px;height:66px;position:absolute;left:121px;top:0;
    line-height:25px;color:#999;text-indent:28px;
}


/*front-end-right*/
.content .front-end-right{width:298px;min-height:300px;float:right;}
.front-end-right .recommend{padding:4px 0 10px 0;}
.front-end-right .recommend h1{height:50px;line-height:50px;border-bottom:3px solid #c2d5e3;font-size:15px;text-indent:10px;
    text-shadow:2px 2px 2px rgba(66,66,66,0.6);
}
.front-end-right .recommend ul{padding:0 10px;}
.front-end-right .recommend ul li dl{position:relative;height:46px;border-bottom:1px dashed #c2d5e3;padding:16px 0 16px 0;
    overflow:hidden;
}
.front-end-right .recommend ul li:nth-last-child(1) dl{border:none;}
.front-end-right .recommend dt{width:60px;position:absolute;left:0;}
.front-end-right .recommend dt img{width:60px;height:45px;}
.front-end-right .recommend dd{position:absolute;left:70px;width:208px;}

.front-end-right .ranking-list ul{padding:8px 10px 16px 10px;}
.front-end-right .ranking-list li{line-height:23px;overflow:hidden;font-size:0;margin:8px 0 13px 0;}
.front-end-right .ranking-list li .num{float:left;width:23px;height:23px;text-align:center;
    color:#fff;margin-right:10px;
}
.front-end-right .ranking-list li .num.r1{background:#f00;}
.front-end-right .ranking-list li .num.r2{background:#e12;}
.front-end-right .ranking-list li .num.r3{background:#d23;}
.front-end-right .ranking-list li .num.r4{background:#c34;}
.front-end-right .ranking-list li .num.r5{background:#b45;}
.front-end-right .ranking-list li .num.r6{background:#a56;}
.front-end-right .ranking-list li .num.r7{background:#967;}
.front-end-right .ranking-list li .num.r8{background:#878;}
.front-end-right .ranking-list li .num.r9{background:#789;}
.front-end-right .ranking-list li .num.r10{background:#69a;}
.front-end-right .ranking-list li a.article-title{float:left;width:238px;white-space:nowrap;overflow:hidden;
    -webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis;
}


/*front-end-page*/
.front-end-page{padding:16px 10px;}
.front-end-page .title{border-bottom:1px dashed #c2d5e3;padding:0 0 10px 0;}
.front-end-page .title .row1 a{line-height:36px;font-size:24px;}
.front-end-page .title .row1 a:hover{text-decoration:none;}
.front-end-page .title .row2{line-height:28px;}
.front-end-page .title .row2 .article-category{font-size:12px;color:#2661a3;}
.front-end-page .title .row2 .space{font-size:10px;margin:0 6px;color:#999;position:relative;top:-1px;}
.front-end-page .title .row2 .author{font-size:12px;color:#888;}
.front-end-page .title .row2 span{color:#888;}
.front-end-page .title .row2 .date-time{margin:0 16px 0 0;}
.front-end-page .title .row2 .view-count{font-size:12px;}
.front-end-page .title .row2 .view-count i{margin:0 6px 0 5px;color:#888;}
.front-end-page .title .row2 .comment i{margin:0 6px 0 5px;color:#888;}

.front-end-page .article-content{padding:16px 0;line-height:23px;overflow:hidden;}
.front-end-page .article-content>img{display:block;max-width:860px;margin:10px auto;}
.front-end-page .views{padding:20px 0;}
.front-end-page .views ul{height:200px;width:330px;margin:0 auto;}
.front-end-page .views ul li{width:46px;float:left;margin:0 18px 0 0;}
.front-end-page .views ul li .number{color:#f26c4f;text-align:center;margin:6px 0 0 0;text-shadow:2px 2px 2px rgba(66,66,66,0.6);}
.front-end-page .views ul li .count{height:100px;width:24px;position:relative;left:13px;}
.front-end-page .views ul li .count span{display:block;width:24px;height:3px;background: #f08253;z-index:1;position:absolute;bottom:0;
    box-shadow:3px 0 6px #666;
}
.front-end-page .views ul li img{width:44px;height:44px;margin-top:8px;}
.front-end-page .views ul li a.desc{display:block;font-size:12px;text-align:center;}
.front-end-page .views ul li a:hover{text-decoration:none;color:#2661a3;}

/*front-end-page .friends*/
.front-end-page .friends h2,.front-end-page .newest-comment h2{line-height:39px;font-weight:100;
    border-bottom:1px solid #c2d5e3;font-size:15px;text-shadow:2px 2px 2px rgba(66,66,66,0.3);
    margin:0 0 10px 0;
}
.front-end-page .friends h2 i{margin:0 6px;font-weight:100;}
.front-end-page .friends ol li{width:69px;height:83px;float:left;margin:0 11px 0 0;}
.front-end-page .friends ol li a:hover p,.front-end-page .friends ol li a:hover{color:#2661a3;}
.front-end-page .friends ol li img{display:block;width:54px;height:54px;margin:0 auto;border-radius:27px;
    box-shadow:3px 3px 3px rgba(66,66,66,0.6);
}
.front-end-page .friends ol li p{text-align:center;line-height:26px;}


/*front-end-page .newest-comment*/
.front-end-page .newest-comment{padding:16px 0 0 0;}
.front-end-page .newest-comment h2{margin:0;}

.front-end-page .newest-comment-list{height:66px;border-bottom:1px dashed #c2d5e3;overflow:hidden;padding:10px 0;}
.front-end-page .newest-comment-list dt{width:66px;float:left;}
.front-end-page .newest-comment-list dt img{width:54px;height:54px;border:6px solid #eee;box-shadow:2px 2px 2px rgba(66,66,66,0.6);}
.front-end-page .newest-comment-list dd{width:808px;float:left;margin-left:10px;}
.front-end-page .newest-comment-list dd .title{border:none;}
.front-end-page .newest-comment-list dd .title a{font-size:12px;color:#2661a3;padding:0 8px 0 0;}
.front-end-page .newest-comment-list dd .title span{font-size:12px;color:#888;}
.front-end-page .newest-comment-list .comment-content{line-height:21px;text-indent:28px;}


/*replay-content*/
.replay-content{border:none;}




