/*notes-left*/
.notes-left{width:914px;float:left;margin-right:16px;background:#fff;}
.notes-left .title{line-height:50px;}
.notes-left .title ul{font-size:0;border-bottom:3px solid #c2d5e3;padding:0 10px;}
.notes-left .title ul li{display:inline-block;}
.notes-left .title ul li a{padding:6px 16px;color:#2661a3;text-decoration:none;}
.notes-left .title ul li a:hover,.notes-left .title ul li a.active{background:#2661a3;color:#fff;box-shadow:2px 2px 2px rgba(66,66,66,0.6);}

/***********************************************************************/
/*notes-list*/
.notes-list{padding:16px 10px 10px 10px;}
.notes-list dl{border-bottom:1px dashed #c2d5e3;padding:16px 0;}
.notes-list dl:nth-last-child(1){border:none;}
.notes-list dt{position:relative;background:#fff;width:70px;height:81px;float:left;margin-right:16px;padding:10px 0;}
.notes-list dt img{position:absolute;left:0;top:0;width:58px;height:58px;border:6px solid #fff;
    box-shadow:2px 2px 2px rgba(66,66,66,0.6);
}
.notes-list dt a.add-friends{display:block;width:70px;height:26px;line-height:26px;
    position:absolute;top:70px;text-align:center;background:#fff;font-size:12px;
    box-shadow:2px 2px 2px rgba(66,66,66,0.6);
}
.notes-list dt a.add-friends:hover{background:#f09307;color:#fff;text-decoration:none;}

.notes-list dd{width:808px;height:81px;float:right;}
.notes-list dd h1{margin-bottom:8px;}
.notes-list dd h1 .author{color:#2661a3;padding:0 10px 0 0;border-right:1px solid #999;}
.notes-list dd h1 a{padding:0 0 0 10px;}
.notes-list dd h1 a:hover{text-decoration:none;}
/*article-info*/
.notes-list dd .article-info{line-height:25px;text-indent:28px;}

/***********************************************************************/
/*notes-list*/
.notes-list{padding:16px 10px 10px 10px;}
.notes-list .categories{line-height:39px;border-bottom:3px solid #c2d5e3;}
.notes-list ul{font-size:0;}
.notes-list ul li{display:inline-block;}
.notes-list ul li a{padding:6px 16px;color:#2661a3;text-decoration:none;}
.notes-list ul li a:hover,.categories ul li.active a{
    background:#2661a3;color:#fff;box-shadow:2px 2px 2px rgba(66,66,66,0.6);
}

/*.notes-list .items*/
.notes-list dl.items{padding:0 0 10px 0;border:0;border-bottom:1px dashed #c2d5e3;}
.notes-list dl.items:nth-last-child(1){border:none;}
.notes-list dl.items dt,.notes-list dl.items dd{float:none;width:100%;}
.notes-list dl.items dt{height:21px;}
.notes-list dl.items dt a{font-size:15px;font-weight:bold;}
.notes-list dl.items dt a:hover{text-decoration:none;}
.notes-list dl.items dd.date-time,.notes-list dl.items dd.notes-info{color:#999;height:24px;line-height:24px;}
.notes-list dl.items dd.notes-text{height:50px;line-height:24px;text-indent:28px;}
.notes-list dl.items dd.notes-info span,.notes-list dl.items dd.notes-info i{color:#999;}
.notes-list dl.items dd.notes-info span:nth-last-child(1){margin-left:10px;}
.notes-list dl.items dd.notes-info i{margin-right:6px;}

/*notes-right*/
.content .notes-right{width:298px;min-height:300px;float:right;}
.notes-right .recommend{padding:4px 0 10px 0;}
.notes-right .recommend h1{height:50px;line-height:50px;border-bottom:3px solid #c2d5e3;font-size:15px;text-indent:10px;
    text-shadow:2px 2px 2px rgba(66,66,66,0.6);
}
.notes-right .recommend ul{padding:0 10px;}
.notes-right .recommend ul li dl{position:relative;height:54px;border-bottom:1px dashed #c2d5e3;padding:16px 0;
    overflow:hidden;
}
.notes-right .recommend ul li:nth-last-child(1) dl{border:none;}
.notes-right .recommend dt{width:54px;position:absolute;left:0;}
.notes-right .recommend dt img{width:54px;height:54px;box-shadow:2px 2px 2px rgba(66,66,66,0.6);border-radius:27px;}
.notes-right .recommend dd{position:absolute;left:70px;width:208px;}
.notes-right .recommend dd a{display:block;line-height:28px;}
.notes-right .recommend dd a.author-name{color:#2661a3;}
.notes-right .recommend dd a.article-title{color:#999;}
.notes-right .recommend dd.add-friends{padding:0;position:absolute;left:208px;}
.notes-right .recommend dd.add-friends a{width:58px;height:24px;
    text-align:center;line-height:24px;font-size:12px;background:#fff;box-shadow:2px 2px 2px rgba(66,66,66,0.6);
}
.notes-right .recommend dd.add-friends a:hover{text-decoration:none;background:#f09307;color:#fff;}



.notes-right .ranking-list ul{padding:8px 10px 16px 10px;}
.notes-right .ranking-list li{line-height:23px;overflow:hidden;font-size:0;margin:8px 0 13px 0;}
.notes-right .ranking-list li .num{float:left;width:23px;height:23px;text-align:center;
    color:#fff;margin-right:10px;
}
.notes-right .ranking-list li .num.r1{background:#f00;}
.notes-right .ranking-list li .num.r2{background:#e12;}
.notes-right .ranking-list li .num.r3{background:#d23;}
.notes-right .ranking-list li .num.r4{background:#c34;}
.notes-right .ranking-list li .num.r5{background:#b45;}
.notes-right .ranking-list li .num.r6{background:#a56;}
.notes-right .ranking-list li .num.r7{background:#967;}
.notes-right .ranking-list li .num.r8{background:#878;}
.notes-right .ranking-list li .num.r9{background:#789;}
.notes-right .ranking-list li .num.r10{background:#69a;}
.notes-right .ranking-list li a.article-title{float:left;width:238px;white-space:nowrap;overflow:hidden;
    -webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis;
}


/***********************************************************************/
/*notes-page*/
.notes-content{background:#fff;padding:16px 10px 10px 10px;}
/*.notes-content .article-title*/
.notes-content .article-title{line-height:39px;font-size:16px;text-align:center;}
.notes-content .article-info{line-height:24px;border-bottom:3px solid #c2d5e3;text-align:center;}
.notes-content .article-info span{font-size:12px;color:#999;}
.notes-content .article-info label{margin:0 8px;color:#999;font-size:12px;}
.notes-content .article-info i{margin:0 8px;color:#f09307;font-size:12px;}
.notes-content .article-text{padding:16px;line-height:23px;}


.notes-content .views{padding:20px 0;}
.notes-content .views ul{height:200px;width:330px;margin:0 auto;}
.notes-content .views ul li{width:46px;float:left;margin:0 18px 0 0;}
.notes-content .views ul li .number{color:#f26c4f;text-align:center;margin:6px 0 0 0;text-shadow:2px 2px 2px rgba(66,66,66,0.6);}
.notes-content .views ul li .count{height:100px;width:24px;position:relative;left:13px;}
.notes-content .views ul li .count span{display:block;width:24px;height:3px;background: #f08253;z-index:1;position:absolute;bottom:0;
    box-shadow:3px 0 6px #666;
}
.notes-content .views ul li img{width:44px;height:44px;margin-top:8px;}
.notes-content .views ul li a.desc{display:block;font-size:12px;text-align:center;}
.notes-content .views ul li a:hover{text-decoration:none;color:#2661a3;}

/*notes-content .friends*/
.notes-content .friends h2,.notes-content .newest-comment h2{line-height:39px;font-weight:100;
    border-bottom:1px solid #c2d5e3;font-size:15px;text-shadow:2px 2px 2px rgba(66,66,66,0.3);
    margin:0 0 10px 0;
}
.notes-content .friends h2 i{margin:0 6px;font-weight:100;}
.notes-content .friends ol li{width:69px;height:83px;float:left;margin:0 11px 0 0;}
.notes-content .friends ol li a:hover p,.notes-content .friends ol li a:hover{color:#2661a3;}
.notes-content .friends ol li img{display:block;width:54px;height:54px;margin:0 auto;border-radius:27px;
    box-shadow:3px 3px 3px rgba(66,66,66,0.6);
}
.notes-content .friends ol li p{text-align:center;line-height:26px;}


/*notes-content .newest-comment*/
.notes-content .newest-comment{padding:16px 0 0 0;}
.notes-content .newest-comment h2{margin:0;}

.notes-content .newest-comment-list{height:66px;border-bottom:1px dashed #c2d5e3;overflow:hidden;padding:10px 0;}
.notes-content .newest-comment-list dt{width:66px;float:left;}
.notes-content .newest-comment-list dt img{width:54px;height:54px;border:6px solid #fff;box-shadow:2px 2px 2px rgba(66,66,66,0.6);}
.notes-content .newest-comment-list dd{width:1126px;float:left;margin-left:10px;}
.notes-content .newest-comment-list dd p{line-height:21px;}
.notes-content .newest-comment-list dd .title{border:none;}
.notes-content .newest-comment-list dd .title a{font-size:12px;color:#2661a3;padding:0 8px 0 0;}
.notes-content .newest-comment-list dd .title span{font-size:12px;color:#888;}
.notes-content .newest-comment-list dd p.comment-content{text-indent:28px;}


/*replay-content*/
.replay-content{border:none;}

































